$font-bold: rubik;
$font-med: rubik;
$font-light: roboto;

$display-size: 5.5em;

$brand-blue: #69DDFF;
$brand-pink: #F4C6DB;
$brand-yellow: #FFF05A;
$brand-red: #ff6992;
$brand-silver: #E8E9EB;
$brand-darkgray: #404040;


